

	<section class="container-fluid parallax about" id="about">
		<br>
		<div class="row row2">
			<article class="col-md-offset-1 col-md-10 col-md-offset-1">
				<h1>About</h1>
				<br>
				<p class="parrafo"> Systems Engineer with extensive experience in the banking industry and sales. Experienced in managing software projects and developing dynamic software applications that include database, mainframe, and web platforms, together with a strong client orientation, that bring value to the company. Skilled at leading multifunctional, multicultural and virtual teams, conference speaker, face to face sales presentations, coordinating projects from small to mid-size from easy to medium complexities, negotiating with stakeholders, building relations with C-suite level executives, managing crisis effectively, creatively solving problems, and training and coaching others. Analytical and result-oriented.  Bilingual EN/ES. Green card holder. </p>
			</article>
		</div>
		<br>
		<div class="row row2">
			<article class="col-md-offset-1 col-md-10 col-md-offset-1">
				<h3>Areas of Expertise:</h3>
			</article>
		</div>
		<div class="row row2">
			<div class="col-md-2"></div>
			<div class="col-md-2 center-block">

				<div class="contenedor">
					<div class="circle2"></div>
					<div class="circle">
						Web-Apps
					</div>
				</div>
			</div>
			<div class="col-md-2 center-block">
				<div class="contenedor">
					<div class="circle2"></div>
					<div class="circle">
						Front-end
					</div>
				</div>
			</div>
			<div class="col-md-2 center-block">
				<div class="contenedor">
					<div class="circle2"></div>
					<div class="circle">
						Back-end
					</div>
				</div>
			</div>
			<div class="col-md-2 center-block">
				<div class="contenedor">
					<div class="circle2"></div>
					<div class="circle">
						Databases
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div> 
		<br><br>
		<div class="row row2">
			<div class="col-md-2"></div>
			<div class="col-md-2 center-block">

				<div class="contenedor">
					<div class="circle2"></div>
					<div class="circle">
						Mainframe
					</div>
				</div>
			</div>
			<div class="col-md-2 center-block">
				<div class="contenedor">
					<div class="circle2"></div>
					<div class="circle">
						Coordination
					</div>
				</div>
			</div>
			<div class="col-md-2 center-block">
				<div class="contenedor">
					<div class="circle2"></div>
					<div class="circle">
						Sales
					</div>
				</div>
			</div>
			<div class="col-md-2 center-block">
				<div class="contenedor">
					<div class="circle2"></div>
					<div class="circle">
						Optimization
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div> 
		<br><br><br><br>

	</section>